[Unit]
Description=Montar partición Datos-D (NTFS)
After=local-fs.target

[Service]
Type=oneshot
User=gerar_kde
ExecStart=/usr/local/bin/montar_datos.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
