[Unit]
Description=Montar Google Drive al inicio
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=gerar_kde
ExecStart=/usr/local/bin/montar_drive.sh
Restart=on-failure
Environment=PATH=/usr/bin:/bin 

[Install]
WantedBy=default.target